@import './whtr-chart.config.module.scss';
@import '../../styles/mixins.module.scss';

$whtr_axis_sizes: (
  'default': $whtr-graph-height-desktop,
  'mobile': $whtr-graph-height-mobile,
);

.nhsuk-whtr-axis-start-marker {
  @include axis-marker($whtr_axis_sizes);
}

.nhsuk-whtr-axis-marker {
  border: 1px solid black;
  @include axis-marker($whtr_axis_sizes);
}

.nhsuk-whtr-axis-start-marker-label {
  position: absolute;
  bottom: -25px;
  left: -2px;
}

.nhsuk-whtr-axis-marker-label {
  position: absolute;
  bottom: -25px;
  left: -10px;
}
