@import './whtr-chart.config.module.scss';

.nhsuk-whtr-legend-key-classification-low {
  @extend %whtr-classification-low;
  @extend .nhsuk-whtr-legend-key;
}

.nhsuk-whtr-legend-key-classification-increased {
  @extend %whtr-classification-increased;
  @extend .nhsuk-whtr-legend-key;
}

.nhsuk-whtr-legend-key-classification-high {
  @extend %whtr-classification-high;
  @extend .nhsuk-whtr-legend-key;
  border-bottom: none;
  box-shadow: none;
}

.nhsuk-whtr-legend-key {
  border-bottom: 2px solid white;
  margin-bottom: 2px;
}

.nhsuk-whtr-legend-marker {
  margin-bottom: 2px;
}

.nhsuk-whtr-classification-low-heading {
  border-left: 8px solid $whtr-low-color;
}

.nhsuk-whtr-classification-increased-heading {
  border-left: 8px solid $whtr-increased-color;
}

.nhsuk-whtr-classification-high-heading {
  border-left: 8px solid $whtr-high-color;
}
