@import '../../styles/mixins.module.scss';
@import './cbmi-chart.config.module.scss';

.nhsuk-cbmi-graph {
  position: relative;
  outline: $cbmi-graph-outline;
  margin-top: 20px;
  display: flex;
  height: $cbmi-graph-height-desktop;
  @include for-mobile {
    height: $cbmi-graph-height-mobile;
  }
}
