@import './cbmi-chart.config.module.scss';
@import '../../styles/mixins.module.scss';

$cbmi-axis-sizes: (
  'default': $cbmi-graph-height-desktop,
  'mobile': $cbmi-graph-height-mobile,
);

.nhsuk-cbmi-axis-marker {
  border: 1px solid black;
  @include axis-marker($cbmi-axis-sizes);
}

.nhsuk-cbmi-axis-marker-label {
  position: absolute;
  bottom: -25px;
  left: -10px;
  width: 20px;
  text-align: center;
}
