@use 'sass:map';
@import 'nhsuk-frontend/packages/core/settings/_breakpoints.scss';

$marker-axis-offset: 5px;

@mixin up-to-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin for-small-mobile {
  @media (max-width: map-get($mq-breakpoints, mobile)) {
    @content;
  }
}

@mixin for-mobile {
  @media (min-width: map-get($mq-breakpoints, mobile)) and (max-width: map-get($mq-breakpoints, tablet)) {
    @content;
  }
}

@mixin up-to-tablet {
  @media (max-width: map-get($mq-breakpoints, tablet)) {
    @content;
  }
}

@mixin arrow-marker-size($size) {
  height: $size;
  width: $size;
  margin: -9px 0 calc(-1 * ($size) / 2) calc(-1 * ($size) / 2);
}

@mixin arrow-marker($sizes) {
  @include arrow-marker-size(map-get($sizes, 'default'));
  @include for-mobile {
    @include arrow-marker-size(map-get($sizes, 'mobile'));
  }
}

@mixin axis-marker-size($size) {
  height: $size + $marker-axis-offset;
}

@mixin axis-marker($sizes) {
  position: absolute;
  bottom: -5px;
  margin-left: -0.5px;
  box-shadow: 0px 0px white inset, 1px 0px white, -1px 0px white;
  z-index: 100;
  @include axis-marker-size(map-get($sizes, 'default'));
  @include for-mobile {
    @include axis-marker-size(map-get($sizes, 'mobile'));
  }
}

@mixin result-marker-size($size) {
  height: $size;
}

@mixin result-marker($sizes) {
  position: absolute;
  margin-left: -1px;
  border: 1.5px solid black;
  box-shadow: 0px 0px white inset, 2px 0px white, -2px 0px white;
  z-index: 100;
  @include result-marker-size(map-get($sizes, 'default'));
  @include for-mobile {
    @include result-marker-size(map-get($sizes, 'mobile'));
  }
}
