@import '../../styles/mixins.module.scss';
@import './bmi-chart.config.module.scss';

.nhsuk-bmi-graph {
  position: relative;
  outline: $bmi-graph-outline;
  display: flex;
  height: $bmi-graph-height-desktop;
  margin-bottom: nhsuk-spacing(4);
  @include for-mobile {
    height: $bmi-graph-height-mobile;
  }
}
